<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.google.play.godotassetdelivery">
    <application>
        <meta-data
            android:name="org.godotengine.plugin.v1.PlayAssetDelivery"
            android:value="com.google.play.godotassetdelivery.PlayAssetDelivery" />
    </application>
</manifest>